*{
    margin: 0;
}
.image--img{
    
    width: 100%;

}
.overlay{
    margin-top: 10%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.image--title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
   

   
}

.image--description
{
    font-size: 80px;
margin-top: 0.25em;
font-family: 'Nunito Sans', sans-serif;
}
.firsthe{
    margin-left: 33%;
    width: 30%;
    font-family: 'Gulzar', serif;
    display: flex;
    flex-direction: row;
    color: rgb(34, 34, 34);

}
.firsthe:before , .firsthe:after{
    content: "";
    flex: 1 1;
    border-bottom: 3px solid rgb(34, 34, 34);
    margin: auto;

}

  .navbar{
    position:absolute;
    margin-top: 2%;
    display: flex;
    font-size: 20px;
    margin-left: -30px;
 

  }
  .navbar ul li{
  font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
    display: inline-block;
    margin:0  20px;
  
  }
  .navbar ul li a{
    text-decoration: none;
    color: white;

    position: relative;
    padding: 20px;
   
   
  }
  .navbar ul li a:hover{
    transition: 1s;
    color: black;
    background-color: white;
  }
 
 #bi{
  margin-left: 400px;
 }
.paragraph{
  line-height: 2.1;
  font-weight: bold;
  padding:3%;
  background-color:#ffffff;
  color: #222222;
  width: 60%;
  height: 500px;
  transform: translate(50.5%,-40.5%);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
 
}

.b{
  color: rgb(255, 0, 0);
  font-family: 'Montserrat', sans-serif;
}
.profile{
 transform: translate(40%);
  width: 200px;
}

.quote--title{
color: white;

 
font-family: 'Viga', sans-serif;
  font-weight: 400;
  transform:translate(300px,-600px);

  font-size: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;


}
.quote--title:before , .quote--title:after{
  content: "";
  flex: 1 1;
  border-bottom: 3px solid white;
  margin: auto;

}

.quote--description{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 60px;
  color:rgb(192, 244, 192);
  transform: translate(0px,-400px);
}
.borderrad{
  border-radius: 10%;
  margin-top: -17%;
}

.community{
 font-family: Gulzar, serif;
  flex: 1 1;
  color: rgb(34, 34, 34);
  border-bottom: 3px solid white;
  margin: auto;
  font-size: 36px;
  font-weight:1000;
  line-height: 43px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translate(-20px,-200px);
  width: 50%;
}
.community::after , .community::before{
  content: "";
  flex: 1 1;
  border-bottom: 3px solid rgb(34, 34, 34);
  margin: auto;
}
.containerr{
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translate(0px,-180px);
  
}
.boxx{
  background-color: rgb(224, 220, 220);
  color: #222222;
  height: 340px;
  width: 300px;
  margin: 30px;

  font-weight: bolder;
  font-family:Montserrat, sans-serif;
  transition-duration: 0.4s;
  border-radius: 15px;
 
}
.imm1{
  border-radius: 15px 15px 0 0;
height: 50%;
  background-image: url('space.jpg');
  background-size: cover;
}
  
  .imm2{
    border-radius: 15px 15px 0 0;
    height: 50%;
    background-image: url('fi.jpg');
    background-size: cover;
  }
  .imm3{
    border-radius: 15px 15px 0 0;
    height: 50%;
    background-image: url('bulb.jpg');
    background-size: cover;
  }
  .boxx h3{
    padding: 10px;
    padding-left: 60px;
  }
  .boxx a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 0 0 15px 15px;

  }
  .boxx:hover{
    background-color: rgb(74, 74, 74);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transform: all 0.2s ease;
  
  }
  .boxx a:hover{
    transition: 0.6s;
    color: red;
  }
  .boxx p{
  color: black;
  }
  .boxx p:hover{
    color: white;
    
    }
    .letconnect{
      display: flex;
      flex-direction: row;
      font-family: Gulzar, serif;
      font-size: 36px;
      color: #222222;
      justify-content: center;
      width: 60%;
      transform: translate(300px);
    }
    .letconnect::after , .letconnect::before{
      content: "";
      flex: 1 1;
      border-bottom: 3px solid rgb(34, 34, 34);
      margin: auto;
      
    }
    .social
    {
      display: flex;
      flex-direction: row;
      justify-content: center;
      
    }

    .social a{
      
      padding: 40px;
      font-size: 80px;
      transition: 0.6s;
    }
    .social a:hover{
      
      transform: scale(1.2);
    }
    .soe{
      font-family: Gulzar, serif ;
      color: #667788;
      font-size: 25px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .copyright{
      display: flex;
      justify-content: center;
      flex-direction: row;
      text-align: center;
      height: 50px;
      font-size: 25px;
      background-color: rgb(238, 124, 150);
    }
    .skills{
      font-family: Gulzar, serif;
      color: #222222;
      display: flex;
      flex-direction: row;
      width: 40%;
      font-size: 36px;
      transform: translate(70%);
      color: #222222;
      font-weight: 1000;

    }
    .skills::after , .skills::before{
     
      content: "";
      flex: 1 1;
      border-bottom: 3px solid rgb(34, 34, 34);
      margin: auto;
    }
    .container2{
      display : flex;
      flex-direction: row;
      justify-content: center;
    }
    .boxx2{
      background-color: rgb(216, 210, 210);
      height: 380px ;
       margin: 30px;
     width: 300px;
     border-radius: 15px;
     transition-duration: 0.6s;
     }
     .i1{
       height: 60%;
  background-image: url('python.jpg');
       border-radius: 15px 15px 0 0;
       background-size: cover;
     }
.i2{
  height: 60%;
   background-image:url('ppp.jpg') ;
  border-radius: 15px 15px 0 0;
  background-size: cover;
     }
     .i3{
      height: 60%;
     background-image: url('web.png');
      border-radius: 15px 15px 0 0;
      background-size: cover;
     }
     .boxx2 h3{
      font-family: Montserrat, sans-serif;
      font-size: 19px;
      padding-top: 20px;
      padding-left: 50px ;
      padding-bottom: 10px;
     }
     .boxx2 p{
      font-weight: 700;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      padding: 10px;
     }
     .boxx2:hover{
     
      transform: scale(1.1);
      background-color: rgb(79, 76, 76);
      color: white;
     }
     .boxx2 a{
      font-family: Montserrat, sans-serif;
      background-color: black;
      color: white;
      padding: 15px 20px;
      display: block;
      text-align: center;
      text-decoration: none;
      border-radius: 0 0 15px 15px;
  
     }
     .boxx2 a:hover{
      color: red;
      transition-delay: 0.4s;

     }
     .container2{
      padding-bottom: 10%;
     }